In [10]:
import pandas as pd
items2 = [{'bikes':20,'pants':30,'watches':35,'shirts':15,'shoes':8,'suits':45},
{'watches':10,'glasses':50,'bikes':15,'pants':5,'shirts':2,'shoes':5,'suits':7},
{'bikes':20,'pants':30,'watches':35,'glasses':4,'shoes':10}]
store_items = pd.DataFrame(items2,index=['store 1','store 2','store 3'])
print('original\n',store_items)

original
          bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

In [14]:
print('isnull\n',store_items.isnull())
print('sum\n',store_items.isnull().sum())
print('total\n',store_items.isnull().sum().sum())

isnull
          bikes  pants  watches  shirts  shoes  suits  glasses
store 1  False  False    False   False  False  False     True
store 2  False  False    False   False  False  False    False
store 3  False  False    False    True  False   True    False
sum
 bikes      0
pants      0
watches    0
shirts     1
shoes      0
suits      1
glasses    1
dtype: int64
total
 3

In [16]:
print(store_items.count())
#count non-NaN values

bikes      3
pants      3
watches    3
shirts     2
shoes      3
suits      2
glasses    2
dtype: int64

In [19]:
print('de_row',store_items.dropna(axis=0))
#delete row with NaN 
# out of place, no change to original
print('original',store_items)

de_row          bikes  pants  watches  shirts  shoes  suits  glasses
store 2     15      5       10     2.0      5    7.0     50.0
original          bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

In [22]:
print('de_co',store_items.dropna(axis=1))
#delete column with NaN
print('original',store_items)

de_co          bikes  pants  watches  shoes
store 1     20     30       35      8
store 2     15      5       10      5
store 3     20     30       35     10
original          bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

In [28]:
import pandas as pd
items2 = [{'bikes':20,'pants':30,'watches':35,'shirts':15,'shoes':8,'suits':45},
{'watches':10,'glasses':50,'bikes':15,'pants':5,'shirts':2,'shoes':5,'suits':7},
{'bikes':20,'pants':30,'watches':35,'glasses':4,'shoes':10}]
store_items = pd.DataFrame(items2,index=['store 1','store 2','store 3'])
print('original\n',store_items)
store_items_d = store_items.dropna(axis=1,inplace=True)
print('in_place',store_items_d)
print('current',store_items)

original
          bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0
in_place None
current          bikes  pants  watches  shoes
store 1     20     30       35      8
store 2     15      5       10      5
store 3     20     30       35     10

In [31]:
items2 = [{'bikes':20,'pants':30,'watches':35,'shirts':15,'shoes':8,'suits':45},
{'watches':10,'glasses':50,'bikes':15,'pants':5,'shirts':2,'shoes':5,'suits':7},
{'bikes':20,'pants':30,'watches':35,'glasses':4,'shoes':10}]
store_items = pd.DataFrame(items2,index=['store 1','store 2','store 3'])
print('original\n',store_items)
print('fill_0\n',store_items.fillna(0))

original
          bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0
fill_0
          bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      0.0
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     0.0     10    0.0      4.0

In [33]:
items2 = [{'bikes':20,'pants':30,'watches':35,'shirts':15,'shoes':8,'suits':45},
{'watches':10,'glasses':50,'bikes':15,'pants':5,'shirts':2,'shoes':5,'suits':7},
{'bikes':20,'pants':30,'watches':35,'glasses':4,'shoes':10}]
store_items = pd.DataFrame(items2,index=['store 1','store 2','store 3'])
print('original\n',store_items)
print('fill_forward',store_items.fillna(method='ffill',axis=0))
#forward fill in row, out of place

original
          bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0
fill_forward          bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     2.0     10    7.0      4.0

In [35]:
items2 = [{'bikes':20,'pants':30,'watches':35,'shirts':15,'shoes':8,'suits':45},
{'watches':10,'glasses':50,'bikes':15,'pants':5,'shirts':2,'shoes':5,'suits':7},
{'bikes':20,'pants':30,'watches':35,'glasses':4,'shoes':10}]
store_items = pd.DataFrame(items2,index=['store 1','store 2','store 3'])
print('original\n',store_items)
print('fill_forward',store_items.fillna(method='ffill',axis=1))
#forward fill in column, out of place

original
          bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0
fill_forward          bikes  pants  watches  shirts  shoes  suits  glasses
store 1   20.0   30.0     35.0    15.0    8.0   45.0     45.0
store 2   15.0    5.0     10.0     2.0    5.0    7.0     50.0
store 3   20.0   30.0     35.0    35.0   10.0   10.0      4.0

In [37]:
items2 = [{'bikes':20,'pants':30,'watches':35,'shirts':15,'shoes':8,'suits':45},
{'watches':10,'glasses':50,'bikes':15,'pants':5,'shirts':2,'shoes':5,'suits':7},
{'bikes':20,'pants':30,'watches':35,'glasses':4,'shoes':10}]
store_items = pd.DataFrame(items2,index=['store 1','store 2','store 3'])
print('original\n',store_items)
print('fill_forward',store_items.fillna(method='ffill',axis=0,inplace=True))
#forward fill in row, in place
print('current',store_items)

original
          bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0
fill_forward None
current          bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     2.0     10    7.0      4.0

In [39]:
items2 = [{'bikes':20,'pants':30,'watches':35,'shirts':15,'shoes':8,'suits':45},
{'watches':10,'glasses':50,'bikes':15,'pants':5,'shirts':2,'shoes':5,'suits':7},
{'bikes':20,'pants':30,'watches':35,'glasses':4,'shoes':10}]
store_items = pd.DataFrame(items2,index=['store 1','store 2','store 3'])
print('original\n',store_items)
print('fill_lin',store_items.interpolate(method='linear',axis=0))
#fill in liner value out of place,0 is for column value
#store 1 not replace because as first row, no data before it to calculate

original
          bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0
fill_lin          bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     2.0     10    7.0      4.0

In [41]:
print('fill_lin_r',store_items.interpolate(method='linear',axis=1))
#in liner value out of place, use row values

fill_lin_r          bikes  pants  watches  shirts  shoes  suits  glasses
store 1   20.0   30.0     35.0    15.0    8.0   45.0     45.0
store 2   15.0    5.0     10.0     2.0    5.0    7.0     50.0
store 3   20.0   30.0     35.0    22.5   10.0    7.0      4.0

In [43]:
print('fill_b',store_items.fillna(method='backfill',axis=0))
#replace backward with column

fill_b          bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0     50.0
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

In [44]:
print('fill_b',store_items.fillna(method='backfill',axis=1))
#replace backward with row

fill_b          bikes  pants  watches  shirts  shoes  suits  glasses
store 1   20.0   30.0     35.0    15.0    8.0   45.0      NaN
store 2   15.0    5.0     10.0     2.0    5.0    7.0     50.0
store 3   20.0   30.0     35.0    10.0   10.0    4.0      4.0