In [22]:
import pandas as pd
items={'bob':pd.Series(data=[245,25,55],index=['bike','pants','watch']),'Alice':pd.Series(data=[40,110,500,45],index=['book','glasses','bike','pants'])}
print(type(items))
shopping_carts = pd.DataFrame(items)
shopping_carts
#1st way:use dictionary of series to creat dataframe

<class 'dict'>

           bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [26]:
data = {'Integers':[1,2,3],'Floats':[4.5,2.5,9.6]}
df2 = pd.DataFrame(data)
df2
#2nd way:use dictionary of list to create dataframe

   Integers  Floats
0         1     4.5
1         2     2.5
2         3     9.6

In [29]:
df3 = pd.DataFrame(data,index=['label 1','label 2','label 3'])
df3
# add indexs to way2

         Integers  Floats
label 1         1     4.5
label 2         2     2.5
label 3         3     9.6

In [31]:
items2 = [{'bikes':20,'pants':30,'watches':35},{'watches':10,'glasses':50,'bikes':15,'pants':5}]
store_items = pd.DataFrame(items2)
store_items
#3rd way:use list of dictionary to create dataframe

   bikes  pants  watches  glasses
0     20     30       35      NaN
1     15      5       10     50.0

In [34]:
store_items2 = pd.DataFrame(items2,index = ['Store 1','Store 2'])
store_items2
#add index to way3

         bikes  pants  watches  glasses
Store 1     20     30       35      NaN
Store 2     15      5       10     50.0

In [7]:
data = {'Bob':pd.Series([245,25,55]),'Alice':pd.Series([40,110,500,45])}
#NaN
#if no index, by defaul apply numbers
df = pd.DataFrame(data)
df

     Bob  Alice
0  245.0     40
1   25.0    110
2   55.0    500
3    NaN     45

In [12]:
print('shape',shopping_carts.shape)
print('dim',shopping_carts.ndim)
print('total',shopping_carts.size)
print('data',shopping_carts.values)
print('index',shopping_carts.index)
print('column',shopping_carts.columns)

shape (5, 2)
dim 2
total 10
data [[245. 500.]
 [ nan  40.]
 [ nan 110.]
 [ 25.  45.]
 [ 55.  nan]]
index Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')
column Index(['bob', 'Alice'], dtype='object')

In [18]:
bob_shopping_cart = pd.DataFrame(items,columns = ['bob'])
bob_shopping_cart

       bob
bike   245
pants   25
watch   55

In [19]:
sel_shopping_cart = pd.DataFrame(items,index = ['pants','books'])
sel_shopping_cart

        bob  Alice
pants  25.0   45.0
books   NaN    NaN

In [20]:
alice_sel_shopping_cart = pd.DataFrame(items,index = ['glasses','bike'],columns= ['Alice'])
alice_sel_shopping_cart

         Alice
glasses    110
bike       500