In [14]:
import pandas as pd
items2 = [{'bikes':20,'pants':30,'watches':35},{'watches':10,'glasses':50,'bikes':15,'pants':5}]
store_items = pd.DataFrame(items2,index = ['store 1','store 2'])
print('original\n',store_items)
store_items.insert(3,'shoes',[2,5])
store_items

original
          bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

         bikes  pants  watches  shoes  glasses
store 1     20     30       35      2      NaN
store 2     15      5       10      5     50.0

In [15]:
store_items.pop('glasses')
store_items
#delete columns

         bikes  pants  watches  shoes
store 1     20     30       35      2
store 2     15      5       10      5

In [16]:
store_items = store_items.drop(['store 1'],axis=0)
#delete column or rows, 0 for row, 1 for column
store_items

         bikes  pants  watches  shoes
store 2     15      5       10      5

In [18]:
store_items = store_items.rename(columns = {'bikes':'hats'})
store_items
#change name or row or column

         hats  pants  watches  shoes
store 2    15      5       10      5

In [21]:
store_items = store_items.rename(index = {'store 2':'store'})
store_items

       hats  pants  watches  shoes
store    15      5       10      5

In [22]:
store_items = store_items.set_index('pants')
store_items
#change the index to be one of the column name

       hats  watches  shoes
pants
5        15       10      5